/*--------head------------*/
/* .head {
  padding: 6px 0;
  color: black;
}
.contact {
  display: flex;
  align-items: center;
}
.contact .phonenumber {
  padding-right: 24px;
}

.head .icon {
  margin-left: 10px;
} */

/*--------head------------*/


/*--------header------------*/
/* header {
  background-color: rgba(255, 255, 255, 0.2);
  padding-left: 120px;
} */
/* 
header .nav {
  display: flex !important;
} */

nav li {
  margin-right: 10px;
  /* font-size: small; */
  
}

/* header ul {
  padding: 30px 0;
} */

/* header ul li a {
  color: var(--color-black);
  font-weight: 500;
  transition: 0.5s;
} */
/* 
header ul li a:hover {
  color: var(--color-primary);
}

.start {
  background-color: var(--color-primary);
  padding: 30px 130px 30px 50px; 
  color: #fff;
  clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0% 100%);
} */

.toggle {
  display: none;
}

/*--------header------------*/

@media screen and (max-width: 768px) {
  /* .start {
    clip-path: none;
  } */
/* 
  header {
    margin: 0;
    background-color: var(--color-primary);;
    position: relative;
  } */

  header ul.flexSB {
    display: none;
  }

  header ul li {
    margin-bottom: 20px;
  }

  .toggle {
    display: block;
    background: none;
    color: #fff;
    font-size: 30px;
    position: absolute;
    right: 0;
    top: -20px;
  }

  /* .mobile-nav {
    position: absolute;
    top: 14vh;
    left: 0;
    width: 100%;
    background-color: var(--color-primary);;
    display: flex;
    flex-direction: column;
    justify-content: center;

  } */
}